<section id="contact">
  <p class="section__text__p1">Get in Touch</p>
  <h1 class="title">Contact Me</h1>

  <div class="contact-info-upper-container">
    <div class="contact-info-container">
      <img src="/assets/images/newgmaillogo.webp" class="icon" />
      <p>
        <a href="mailto:eldverry52@gmail.com">eldverry52@gmail.com</a>
      </p>
    </div>

    <div class="contact-info-container">
      <img src="/assets/images/images (1).png" class="icon" />
      <p>
        <a href="https://www.linkedin.com">LinkedIn</a>
      </p>
    </div>
  </div>
</section>
