<section id="profile">
  <div class="section__pic-container">
    <img src="/assets/images/IMG_0798.jpg" alt="Me" />
  </div>

  <div class="section__text">
    <p class="section__text__p1">Hello, I'm</p>
    <h1 class="title">Joseph Jeong</h1>
    <p class="section__text__p2">Software Engineer</p>

    <div class="btn-container">
      <button class="btn btn-color-2">Download CV</button>
      <button class="btn btn-color-1" onclick="location.href='#contact'">
        Contact Info
      </button>
    </div>

    <div id="socials-container">
      <img
        src="/assets/images/images (1).png"
        class="icon"
        onclick="location.href='https://www.linkedin.com/in/joseph-jeong-80b011213/'"
      />
      <img
        src="/assets/images/GitHub-Logo.png"
        class="icon"
        onclick="location.href='https://github.com/Josephjj224'"
      />
    </div>
  </div>
</section>
