<section id="projects">
  <p class="section__text__p1">Browse My Recent</p>
  <h1 class="title">Projects</h1>

  <div class="experience-details-container">
    <div class="about-containers">

      <div class="details-container color-container">
        <img src="/assets/images/illini.png" class="project-img" />
        <h2 class="project-title">Illini Illness</h2>
        <button onclick="location.href='https://github.com/Josephjj224/Illini_illness'">
          Github
        </button>
      </div>

      <div class="details-container color-container">
        <img
          src="/assets/images/345660490-4b9142d8-1954-4893-ad6b-f81580d8a877.png"
          class="project-img"
        />
        <h2 class="project-title">Trading Signals</h2>
        <button onclick="location.href='https://github.com/Josephjj224/Trading-Signals'">
          Github
        </button>
      </div>

    </div>
  </div>
</section>
